---
title: "Ülkeler"
description: "Yurtdışında eğitim için popüler ülkeler."
permalink: "/ulkeler/"
layout: base.njk
---

<h1>Ülkeler</h1>
<ul>
  <li><a href="/ulkeler/avrupa">Avrupa</a></li>
  <li><a href="/ulkeler/amerika">ABD & Kanada</a></li>
  <li><a href="/ulkeler/asya">Asya</a></li>
</ul>
