---
title: "En İyi 20 Üniversite"
description: "Dünyanın en iyi 20 üniversitesi."
permalink: "/universiteler/top20/"
layout: base.njk
---

<h1>En İyi 20 Üniversite</h1>
<p>Dünyanın en iyi 20 üniversitesi hakkında bilgiler yakında burada olacak.</p>
